<html>
    <body>
        <form action="/produtos" method="POST">
            <div>
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" placeholder="Coloque o título aqui">
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="currency" id="preco" name="preco">
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea cols="10" rows="10" id="descricao" name="descricao" placeholder="Coloque a descrição aqui"></textarea>
            </div>

            <input type="submit" value="gravar">
        </form>
    </body>
</html>