<html>
    <body>
        <table>
            <tr>
                <td>id</td>
                <td>titulo</td>
                <td>descricao</td>
                <td>preco</td>
            </tr>
            <% for(i = 0; i < produtos.length; i++) { %>
                <tr>
                    <td><%= produtos[i].id %></td>
                    <td><%= produtos[i].titulo %></td>
                    <td><%= produtos[i].descricao %></td>
                    <td><%= produtos[i].preco %></td>
                </tr>
            <% } %>
            <tr>
            </tr>
        </table>
    </body>
</html>